/* Global rules */

html { 
    font-size: 1rem; 
}

.ms-text-black {
    color: #333333;
}
.ms-text-darkblue {
    color: #2c3e50;
}
.ms-text-aqua {
    color: #1bbc9c;
}
.ms-bg-blue {
    background-color: #3a546d;
}
.ms-bg-darkblue {
    background-color: #2c3e50;
}
.ms-bg-aqua {
    background-color: #1bbc9c;
}
.ms-bg-fading-aqua {
    background-color: #1bbc9cb3;
}

.ms-rounded {
    border-radius: 10px;
}
.ms-separator-line {
    height: 4px;
}
.ms-star {
    font-size: 2rem;
}
.ms-section-title {
    font-size: 3.5rem;
}
.ms-small-heading,
.navbar .navbar-brand {
    font-size: 1.5rem;
}
#ms-contact form input:not([type="submit"]),
#ms-contact form textarea,
#ms-footer .ms-footer-text,
#ms-about {
    font-size: 1.3rem;
}

.ms-btn-aqua {
    color: white;
    background-color: #1bbc9c;
    border: 1px solid white;
    transition: all 0.5s;
}
.ms-btn-aqua:hover {
    color: #1bbc9c;
    background-color: transparent;
    border: 1px solid #1bbc9c;
}
.ms-btn-outline-aqua {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    transition: all 0.5s;
}
.ms-btn-outline-aqua:hover {
    color: #1bbc9c;
    background-color: white;
}

/* Navbar rules */

.navbar .nav-link {
    font-size: 1.1rem;
}

/* Jumbotron rules */

#ms-jumbo {
    margin-top: 90px;
}
.ms-title {
    font-size: 4rem;
}

/* Portfolio rules */

.overlay {
    top: 0;
    opacity: 0;
    transition: 0.5s;
}
.overlay i {
    font-size: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#ms-portfolio [class*="col"]:hover .overlay {
    display: block!important;
    opacity: 1;
    cursor: pointer;
}

/* Contact section rules */

#ms-contact input::placeholder,
#ms-contact textarea::placeholder {
    color: #2c3e50;
}

/* Footer rules */

#ms-footer .ms-social i {
    transition: all 0.5s;
    width: 50px;
    height: 50px;
}
#ms-footer .ms-social i:hover {
    color: #2c3e50 !important;
    background-color: white;
    border: 1px solid #2c3e50;
}

/* Media queries */

@media screen and (max-width: 768px) {
    .ms-title {
        font-size: 2.3rem;
    }
    .ms-section-title {
        font-size: 1.8rem;
    }
    #ms-jumbo {
        margin-top: 80px;
    }
    .ms-small-heading,
    .navbar .navbar-brand {
        font-size: 1.2rem;
    }
    #ms-contact form input:not([type="submit"]),
    #ms-contact form textarea,
    #ms-footer .ms-footer-text,
    #ms-about {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 576px) {
    .ms-title {
        font-size: 2rem;
    }
    .ms-section-title {
        font-size: 1.5rem;
    }
    .ms-small-heading,
    .navbar .navbar-brand {
        font-size: 1rem;
    }
    #ms-contact form input:not([type="submit"]),
    #ms-contact form textarea,
    #ms-footer .ms-footer-text,
    #ms-about {
        font-size: 0.7rem;
    }
}